{% load static %}
<!DOCTYPE html>
<html lang="en" , dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {%block title%}
    مقالات من
    {%endblock%}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
        <h2><a href="{% url 'articles:list' %}">لوگو</a></h2>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <form class="logout-link" 
                        action="/accounts/logout" method="post">
                        {% csrf_token %}
                        <button type="submit">خروج</button>
                    </form>
                </li>
                <li>
                    <a href="{% url 'articles:create' %}">نوشتن مقاله جدید</a>
                </li>
                {% else %}
                <li>
                    <a href="/accounts/login">ورود</a>
                </li>
                <li>
                    <a href="/accounts/signup">عضویت</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div class="wrapper">

        {%block content%}

        {% endblock %}

        </div>
    </body>
</html>